$orange: hsl(12, 88%, 59%);
$lightOrange: rgb(255, 159, 121);
$colorDarkBlue: hsl(228, 39%, 23%);
$colorGrayishBlue: hsl(227, 12%, 61%);
$colorVeryDarkBlue: hsl(233, 12%, 13%);
$paleRed: hsl(13, 100%, 96%);
$colorLightGray: hsl(0, 0%, 98%);