* {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: min(90%, 100rem);
  margin-inline: auto;
}

/*------------------Header-------------------*/
header {
  height: 100vh;
  padding: 2rem 0;
  background-image: url(/manage-landing-page-master/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -300px right -150px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(90%, 100rem);
  margin-inline: auto;
  padding: 2rem 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li {
  list-style-type: none;
  padding: 0 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: hsl(233, 12%, 13%);
  font-weight: bold;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
header nav ul li a:hover {
  color: hsl(227, 12%, 61%);
}
header .button-container .get-start-btn {
  text-decoration: none;
  font-weight: 600;
  background: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding: 1rem 1.8rem;
  border-radius: 50px 50px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
header .button-container .get-start-btn:hover {
  background: rgb(255, 159, 121);
}
header .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(90%, 100rem);
  margin-inline: auto;
  min-height: 100vh;
}
header .main-content .col {
  width: 50%;
}
header .main-content .content-right img {
  width: 100%;
}
header .main-content .content-left h1 {
  font-size: 5rem;
  font-family: sans-serif;
  color: hsl(228, 39%, 23%);
}
header .main-content .content-left p {
  font-size: 1.2rem;
  color: hsl(227, 12%, 61%);
  font-weight: 700;
  width: 60%;
  line-height: 2rem;
}
header .main-content .content-left .left-button-container {
  margin-top: 4rem;
}
header .main-content .content-left .left-button-container .btn {
  background: hsl(12, 88%, 59%);
  padding: 1rem 1.5rem;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px 50px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
header .main-content .content-left .left-button-container .btn:hover {
  background: rgb(255, 159, 121);
}

/*---------------Section 1--------------*/
.sect-1 {
  min-height: 100vh;
  background-image: url(/manage-landing-page-master/images/bg-tablet-pattern.svg);
  background-position: bottom -500px left -450px;
  background-repeat: no-repeat;
  background-size: contain;
}
.sect-1 .wrapper {
  min-height: 80vh;
  width: min(90%, 100rem);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sect-1 .left {
  min-height: 50vh;
  width: 50%;
}
.sect-1 .left .left-content h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin-top: 0.5rem;
}
.sect-1 .left .left-content p {
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(227, 12%, 61%);
  line-height: 2rem;
}
.sect-1 .right {
  min-height: 50vh;
  width: 50%;
}
.sect-1 .right .right-content .right-child-content h4 {
  font-weight: bold;
  font-family: sans-serif;
}
.sect-1 .right .right-content .right-child-content p {
  padding-left: 6rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: hsl(227, 12%, 61%);
}
.sect-1 .right .right-content .right-child-content .bg {
  border: none;
  padding: 0.8rem 1.6rem;
  background: hsl(12, 88%, 59%);
  margin-right: 1.5rem;
  color: hsl(0, 0%, 98%);
  border-radius: 50px 50px;
}

/*-----------------Section 2---------------*/
.sect-2 {
  min-height: 80vh;
}
.sect-2 .sect-2-content h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 4rem;
  color: hsl(228, 39%, 23%);
}
.sect-2 .sect-2-content .inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  text-align: center;
}
.sect-2 .sect-2-content .inner-content .quote {
  background: hsl(0, 0%, 98%);
  min-height: 25vh;
  padding: 1rem 3rem;
  position: relative;
}
.sect-2 .sect-2-content .inner-content .quote img {
  width: 10%;
  position: absolute;
  top: -30px;
  right: 16rem;
}
.sect-2 .sect-2-content .inner-content .quote .ali {
  right: 19rem;
}
.sect-2 .sect-2-content .inner-content .quote h4 {
  padding: 0.5rem;
}
.sect-2 .sect-2-content .inner-content .quote p {
  font-weight: bold;
  line-height: 1.8rem;
}
.sect-2 .sect-2-content .get-start-div {
  text-align: center;
  margin-top: 3.5rem;
}
.sect-2 .sect-2-content .get-start-div .btn {
  background: hsl(12, 88%, 59%);
  padding: 1rem 2rem;
  border: none;
  color: hsl(0, 0%, 98%);
  border-radius: 50px 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
.sect-2 .sect-2-content .get-start-div .btn:hover {
  background: rgb(255, 159, 121);
}/*# sourceMappingURL=style.css.map */